
a:link{
color: rgba(0,0,0,.87);
text-decoration: none;}
a:hover{
text-decoration: underline;
}
a:visited {
color: rgba(0,0,0,.87);
text-decoration: none;
}

.topbarlev0 {
    height:48px;
    margin: 6px 0;
}
.topbarlev1{
    padding-right:10%;
    height:48px;
    float:right;
}
.formBand{
    max-height:160px;
    padding:20px;
}
.formCell {
    padding-top: 6px;
}
.logoBar {
     height: 92px;
}

.logoCell{
      width: 272px;
      height: 92px;
      margin: 0 auto;
      position:relative;
}
.subLogo {
 color:#4285f4;
 font:16px/16px roboto-regular, arial, sans-serif;
 position:absolute;
 left:205px;
 bottom:-5px;
 white-space:nowrap
}
.round-cell-C {
 display:flex;
 height:44px;
 border:1px solid #dfe1e5;
 border-radius:24px;
 margin:0 auto;
 max-width:584px;
}
.round-cell-C:hover{
     background-color:#fff;
     box-shadow:0 1px 6px rgba(32,33,36,.28);
     border-color:rgba(223,225,229,0)
}
.magGlass{
    display:inline-block;
    margin-top:13px;
    margin-left:13px;
    fill:#9aa0a6;
    height:20px;
    line-height:20px;
    width:20px;
}

.btn0 {
     background-color:#f8f9fa;
     border:1px solid #f8f9fa;
     border-radius:4px;
     color:#3c4043;
     font-family:arial,sans-serif;
     font-size:14px;
     margin:11px 4px;
     padding:0 16px;
     line-height:27px;
     height:36px;
     min-width:54px;
     text-align:center;
     cursor:pointer;
     user-select:none
}
.btn0:hover {
    border:1px solid #dadce0;
}

.intext {
    font-size:16px;
    height:34px;
    border:none;
    outline:none;
    margin:2px 20px;
    margin-left: 5px;
    display:flex;
    flex:100%;
}

div.cell-L {
 float:left;
 min-width:167px;
 width:16%;
 height:42px;
 color:#222;
 font-size:13px;
 line-height:16px;
}

div.cell-tl {
 float:left;
 min-width:167px;
 width:16%;
 font-size:16px;
 min-height:42px;
 font-weight:500;
 color:#333;
}
div.text-cell {
 height:30px;
 display:table-cell;
 vertical-align:middle
}



div.cell-C {
 float:left;
 min-width:167px;
 min-height:41px;
 vertical-align:middle;
 width:50%
}

.jfk-textinput {
 width:100%;
 text-align:left;
 -webkit-border-radius:1px;
 border-radius:1px;
 border:1px solid #d9d9d9;
 border-top:1px solid #c0c0c0;
 font-size:13px;
 height:25px;
 padding:1px 8px
}
.jfk-textinput:focus {
 -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
 box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
 border:1px solid #4d90fe;
 outline:none
}

div.cell-R {
 float:left;
 width:32%;
 min-width:160px;
 margin:0 0 8px 1%;
 color:#555;
 font-size:11px;
 padding-left:5px;
 position:relative
}

@media (max-width:1056px) {
    div.cell-R {
    display: none;
    }

}

div.acapo {
 clear:both
}

div.shorten {
 padding-right:16px
}


span.quote {
 color:#666;
 font-family:monospace;
 font-size:11px;
 white-space:pre
}

.adv-button-action {
 box-shadow:none;
 background-color:#4d90fe;
 border:1px solid #3079ed;
 color:#fff
}

.adv-button-action:focus {
 -webkit-box-shadow:inset 0 0 0 1px #fff;
 box-shadow:inset 0 0 0 1px #fff;
 border:1px solid #fff;
 border:rgba(0,0,0,0) solid 1px;
 outline:1px solid #4d90fe;
 outline:rgba(0,0,0,0) 0
 }
 .adv-button-action:active {
 -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
 box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
 background:#357ae8;
 border:1px solid #2f5bb7;
 border-top:1px solid #2f5bb7
}


.adv-button{
    user-select:none;
    line-height:100%;
    height:30px;
    min-width:120px;
    border-radius:2px;
    cursor:default;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    white-space:nowrap;
}

.adv-button-loc {
 float:right;
 margin:10px 0
}